<?xml version="1.0"?>

<configuration>

	<connectionStrings>

		<add name="bookappointment" connectionString="Data Source=DESKTOP-LT4KMIA;Initial Catalog=fitness;Integrated Security=True"
		 providerName="System.Data.SqlClient"/>
	</connectionStrings>

  <system.web>
    <compilation debug="false" targetFramework="4.0" />
    </system.web>

</configuration>
